<html>
	<head>
		<title>
			signup
		</title>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<script src="/bower_components/seajs/dist/sea.js"></script>
		<script src="/js/config.js"></script>
	</head>
	<body>